@page
@model TripSync___Travel_Planner.Pages.AddMemberModel
@{
    <h2>Add Member</h2>

    <form method="post">
        <input type="email" name="Email" placeholder="User Email" required />
        <button type="submit">Add</button>
    </form>
}
