@page
@model TripSync___Travel_Planner.Pages.TripModel
@{
    <h2>Create Trip</h2>

    <form method="post">
        <input type="text" name="TripName" placeholder="Trip Name" required />
        <input type="text" name="Destination" placeholder="Destination" required />
        <input type="date" name="StartDate" required />
        <input type="date" name="EndDate" required />
        <button type="submit">Create</button>
    </form>
}
