@page
@model TripSync___Travel_Planner.Pages.LoginModel
@{
    <form method="post">
        <input type="email" name="Email" placeholder="Email" required />
        <input type="password" name="Password" placeholder="Password" required />
        <button type="submit">Login</button>
    </form>
}
